<app-navbar></app-navbar>
<app-page-title [pageTitle]="currentPageTitle"></app-page-title>
<section>
  <div class="card">
    <p>{{ contactCard.emailPara }}</p>
    <div class="email-me">
      <img
        [alt]="contactCard.imageAlt"
        [src]="contactCard.imageSrc"
        [title]="contactCard.imageTitle"
      />
      <app-button
        [buttonText]="contactCard.buttonText"
        [buttonStyle]="contactCard.buttonStyle"
        [inputLink]="contactCard.email"
        [inputRel]="contactCard.rel"
        [inputTarget]="contactCard.target"
      ></app-button>
    </div>
  </div>
  <app-scroll-down [routerLink]="homePage"></app-scroll-down>
</section>
<app-footer></app-footer>