<app-navbar></app-navbar>
<app-page-title [pageTitle]="currentPageTitle"></app-page-title>
<section>
  <div class="card">
    <p>{{ emailPara }}</p>
    <div class="email-me">
      <img
        [alt]="contactPicture.imageAlt"
        [src]="contactPicture.imageSrc"
        [title]="contactPicture.imageTitle"
      />
      <app-button
        [buttonText]="buttonText"
        [buttonStyle]="buttonStyle"
        [inputLink]="email"
        [inputRel]="rel"
        [inputTarget]="target"
      ></app-button>
    </div>
  </div>
  <app-scroll-down [routerLink]="homePage"></app-scroll-down>
</section>
<app-footer></app-footer>