<app-navbar></app-navbar>
<app-page-title [pageTitle]="currentPageTitle"></app-page-title>
<section>
  <div class="card">
    <img
      [alt]="projectsPicture.imageAlt"
      [src]="projectsPicture.imageSrc"
      [title]="projectsPicture.imageTitle"
    />
    <div class="projects-list">
      <h1>{{ pageName1 }}</h1>
      <a [href]="linkPage1" target="_blank">
        <h2>{{ linkPage1 }}</h2>
      </a>
      <p>{{ pageBuiltWith }} {{ react }}</p>
      <a [href]="githubRepo1" target="_blank">
        <h3>{{ githubRepository }}</h3>
      </a>

      <h1>{{ pageName2 }}</h1>
      <a [href]="linkPage2" target="_blank">
        <h2>{{ linkPage2 }}</h2>
      </a>
      <p>{{ pageBuiltWith }} {{ vue3 }}</p>
      <a [href]="githubRepo2" target="_blank">
        <h3>{{ githubRepository }}</h3>
      </a>

      <h1>{{ pageName3 }}</h1>
      <a [href]="linkPage3" target="_blank">
        <h2>{{ linkPage3 }}</h2>
      </a>
      <p>{{ pageBuiltWith }} {{ vue2 }}</p>
      <a [href]="githubRepo3" target="_blank">
        <h3>{{ githubRepository }}</h3>
      </a>
    </div>
  </div>
  <app-scroll-down [routerLink]="contactPage"></app-scroll-down>
</section>
<app-footer></app-footer>