@use 'classes'
@use 'colours'
@use 'fonts'

.projects-list
    align-items: center
    display: flex
    flex-direction: column
    font-family: fonts.$lato
    justify-content: center
    margin-bottom: 10%
    padding: 2%
    position: relative
    text-align: center
    & h1
        color: colours.$gainsboro
        font-size: 1.2rem
        font-weight: 700
    & a
        text-decoration: none
        & h2
            color: colours.$dark-blue
            font-weight: 600
        & h3
            color: colours.$gainsboro
            font-family: fonts.$bungee-hairline
            font-weight: 800
            margin-bottom: 10% 
    & p
        color: colours.$goldenrod
        font-weight: 400
    & h2,
    & h3,
    & p
        font-size: 1rem
        line-height: 1.5rem

@media screen and (max-width: 320px)
    .projects-list
        & h1
            font-size: 0.7rem
        & h2,
        & h3,
        & p
            font-size: 0.5rem
            line-height: 1rem

@media screen and (min-width: 321px) and (max-width: 479px)
    .projects-list
        & h1
            font-size: 0.8rem
        & h2,
        & h3,
        & p
            font-size: 0.6rem
            line-height: 1.1rem

@media screen and (min-width: 480px) and (max-width: 599px)
    .projects-list
        & h1
            font-size: 0.9rem
        & h2,
        & h3,
        & p
            font-size: 0.7rem

@media screen and (min-width: 600px) and (max-width: 767px)
    .projects-list
        & h1
            font-size: 1rem
        & h2,
        & h3,
        & p
            font-size: 0.8rem

@media screen and (min-width: 768px) and (max-width: 991px)
    .projects-list
        & h1
            font-size: 1.1rem
        & h2,
        & h3,
        & p
            font-size: 0.9rem