<app-navbar></app-navbar>
<app-page-title [pageTitle]="currentPageTitle"></app-page-title>
<section>
  <div class="card">
    <img
      [alt]="profileCard.imageAlt"
      [src]="profileCard.imageSrc"
      [title]="profileCard.imageTitle"
    />
    <div class="profile-data">
      <h1>{{ profileCard.introduction }} {{ profileCard.fullName | titlecase }}</h1>
      <h2>{{ profileCard.heading }}</h2>
      <p>{{ profileCard.description0 }}</p>
      <p>{{ profileCard.description1 }}</p>
      <p>{{ profileCard.description2 }}</p>
      <p>{{ profileCard.description3 }}</p>
      <p>{{ profileCard.description4 }}</p>
      <p>{{ profileCard.description5 }}</p>
    </div>
  </div>
  <app-scroll-down [routerLink]="projectsPage"></app-scroll-down>
</section>
<app-footer></app-footer>