<footer>
  <div class="gradient"></div>
  <div class="clock">
    <app-clock></app-clock>
  </div>
  <div class="page-info">
    <span
      ><p>{{ footer.fullName | titlecase }} &copy; {{ footer.copyrightYear }}</p></span
    >
  </div>
  <div class="profiles">
    <a [href]="github.profile" [target]="blank"
      ><img
        [alt]="github.imageAlt"
        [src]="github.imageSrc"
        [title]="github.imageTitle"
    /></a>
    <a [href]="gmail.email" [rel]="gmail.rel" [target]="blank"
      ><img
        [alt]="gmail.imageAlt"
        [src]="gmail.imageSrc"
        [title]="gmail.imageTitle"
    /></a>
    <a [href]="linkedIn.profile" [target]="blank"
      ><img
        [alt]="linkedIn.imageAlt"
        [src]="linkedIn.imageSrc"
        [title]="linkedIn.imageTitle"
    /></a>
  </div>
</footer>