@use 'colours'
@use 'fonts'
 
*
    box-sizing: border-box
    margin: 0
    padding: 0

main,
section
    align-items: center
    display: flex
    flex-direction: column
    justify-content: flex-start
    position: relative

.card,
.greeting
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    padding: 1%
    position: relative
    width: 100%
    & img
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        bottom: 0
        filter: brightness(1.1) saturate(1.05) contrast(1.05)
        padding: 1%
        position: relative
        top: 0
        width: 20%

.button
    border: 0.1em solid colours.$navy
    border-radius: 0.5em
    padding: 0.2%
    &:hover
        transform: scale(1.05)
    & a
        background-color: colours.$gainsboro
        font-family: fonts.$lato
        font-size: 1rem
        font-weight: 800
        position: relative
        text-align: center
        text-decoration: none
        text-shadow: 0 0.1em 0.1em 0.1em colours.$grey
        transition: all 0.2s ease-in-out
        &:link
            color: colours.$orange
        &:visited
            color: colours.$burgundy
        &:hover
            background-color: colours.$linen
            box-shadow: 0 0.05em 0.5em colours.$silver
            color: colours.$dark-orange
        &:active
            color: colours.$neon-orange